#root, .app, .routes {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Oxanium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/milan-background.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'styles/login.scss'
